# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# stripe api keys (DO NOT KEEP)
stripeConfig.js

# GOOGLE stuff

GoogleService-Info.plist
google-services.json

#keys for all our services
#GoogleService-Info.plist

#eas.json
eas.json

# ui colours test
colours/

# .env containing api keys
.env
stripeServer/.env
functions/.env

# 
database.rules.json

#creates test accounts without the need of validation
verifyUser.cjs
serviceAccountKey.json

#metro config (irf: using react native cli to build, rather than using expo)
metro.config.cjs

GEMINI.md