# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
firebase-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development
.env.production
stripeServer/.env
functions/.env

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# stripe api keys (DO NOT KEEP)
stripeConfig.js

# Firebase / Google Config (SENSITIVE)
GoogleService-Info.plist
google-services.json
serviceAccountKey.json
database.rules.json
.firebaserc

# Build / Config
metro.config.cjs

# Local Data / Tools
archive/
verifyUser.cjs
colours/

GEMINI.md